table {
   
  border: 2px solid;
  font-size: 25px;
  border-color: black;
  border-bottom-style: solid ;
    border-width: thin; 
}


A:visited
{
color: red;	
}

A:hover
{
color: black;	
}

img
{
background-size: 500px;
}

    * {
        margin: 0;
        padding: 0;
    }



    body {
     background-color: #FFFFFF; 
}

.hero{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(12,3,51,0.3),rgba(12,3,51,0.3));
    position: relative;
    padding: 0.5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

*{
    box-sizing: border-box;
}

body,html{
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: serif;
}

h1{
    font-size: 70px;
    text-transform: uppercase;
    margin: 0;
}
.banner-video{
    background-image: url(370z.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
}
.banner-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 5;
    width: 45%;
    padding: 40px 0;
    text-align: center;
    border-top-left-radius: 70px;
    border-bottom-right-radius: 70px;
    background-color: rgba(0,0,0,0.3);
    color: #fff;
    font-weight: bold;
    border: 10px inset #fff;
}
.banner-textp{
    padding: 0 8%;
    font-family: serif;
}
a{
    display: inline-block;
    padding: 10px 50px;
    border: 2px solid #fff;
    font-size: 18px;
    text-decoration: none;
    color: #fff;
    margin-top: 25px;
}
nav{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 6%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav .logo{
	width: 80px;
	margin-right: 40px;
}
nav ul li{
	list-style: none;
	display: inline-block;
	margin-left: 40px;
}
nav ul li a{
	text-decoration: none;
	color: #fff;
	font-size: 17px;
}
.content{
    text-align: center;
}

.contenth1{
    font-size: 160px;
    color: #fff;
    font-weight: 600;
    transition: 0.5s;
}
.content h1:hover{
    -webkit-text-stroke: 2px #fff;
    color: transparent;
}
.content a{
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-size: 25px;
    border: 2px solid #fff;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 50;
}
.back-video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}
h4{
   font-size: 29px;
    color: #fff;
    font-weight: 500;
    transition: 0.5s;
}
h4:hover{
   -webkit-text-stroke: 2px #fff;
    color: transparent;
}
h3{
	font-size:25px;
}

*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
	color: #fff;
}
ul{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 20px;
    
}
ul{
	display: flex;
	justify-content: center;
	align-items: center;
	list-style: none;
}
ul li a{
	padding: 6px 15px;
	border-radius: 20px;
}
ul li a:hover, .active{
	background: #fff;
	color: #200016;
}
nav ul li a{
    margin-right: 10px;
    margin-bottom: 200px;
}
iframe{
    place-content: center;
}

header ul li{
    margin-right: 30px;
}
header ul li{
    padding: 6px 15px;
    border-radius: 20px;
}
header ul li a:hover{
    background: #fff;
    color: dimgray;
}
a{
    text-decoration: none;
    color: #fff;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px;
}
header .logo{
    font-size: 30px;
    text-transform: uppercase;
} 
header ul{
    display: flex;
    justify-content: center;
}
body{
    background: linear-gradinet(#20016,#1000f);
    height: 100vh;
}
.contetnt{
	font-display: swap;
	
}